body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
   
}
body {
    font-family: "Teko", sans-serif;
    color: rgb(14, 13, 13);
}
h1 {
    font-size: 2rem;
    font-weight: bold;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
h3 {
    font-size: 1.25rem;
    font-weight: bold;
}
p {
    font-size: 1rem;
    line-height: 1.5;
}

header {
    padding: 2rem;
    background-color: #c7f8e1cc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
nav {
    display: flex;
    gap: 3rem;
    list-style-type: none;
     
}
a{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 3rem;
}
nav .logo {
    max-width: 100px;
    max-height: 100px;


}
nav .nav__liste {
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav li a {
    font-size: 1.5rem;
}
main {
    flex: 1;
    padding: 2rem;
    border-radius: 15px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a:hover {
    box-shadow: 0 0 20px green;
    color: rgb(10, 10, 10);
    text-decoration: underline;
    background-color: rgb(217, 236, 217);

}
.section-header {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
   
    
}
.bouton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 0.5rem;
    font-size: 1rem;
    background-color:rgb(77, 145, 124);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 350ms;
    box-shadow: none;
    outline: none;
    border: none;
}
.bouton:hover {
    background-color: color-mix(in oklab, tomato, black 10%);
    transform: scale(1.05);
    text-decoration: underline;
}
form .groupe-champs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
}
form input {
    padding: 0.5rem;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid rgb(15, 15, 15);
    outline: none;
    accent-color: tomato;
  
}
form input[type="submit"],


form input[type="submit"]:hover,

form button:hover {
    background-color: color-mix(in oklab, rgb(235, 134, 76), black 10%);
    transform: scale(1.05);
    text-decoration: underline;
}
form input[type="submit"]:disabled,
form button:disabled {
    background-color: grey;
    pointer-events: none;
}
/* TODO: champs invalide et valide */

section {
    width: 90vw;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(19, 18, 18);
    display: flex;
    flex-direction: column;
    
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.error {
    color: red;
    font-size: 0.9em;
    display: block;
}

input:valid, select:valid, textarea:valid {
    border-color: green;
}

input:invalid, select:invalid, textarea:invalid {
    border-color: red;
}



button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.invisible {
    display: none;
}